---
import type { EducationItem } from '../data/about';

interface Props {
  items: EducationItem[];
}

const { items } = Astro.props;
---

<div class="education-list">
  {
    items.map((item) => (
      <div class="education-item">
        <div class="period">{item.period}</div>
        <div class="details">
          <h4 class="institution">{item.institution}</h4>
          {item.degree && <p class="degree">{item.degree}</p>}
          {item.description && <p class="description">{item.description}</p>}
        </div>
      </div>
    ))
  }
</div>
