---
import type { HobbyItem } from '../data/about';

interface Props {
  items: HobbyItem[];
}

const { items } = Astro.props;
---

<div class="hobby-container">
  {
    items.map((item) =>
      item.note ? (
        <details class="hobby-tag">
          <summary class="hobby-name">{item.name}</summary>
          <p class="hobby-note">{item.note}</p>
        </details>
      ) : (
        <span class="hobby-tag simple">{item.name}</span>
      )
    )
  }
</div>
