---
interface TocHeading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: TocHeading[];
}

const { headings } = Astro.props;
---

<nav class="toc-nav">
  <ul class="toc-list">
    {
      headings.map((heading) => (
        <li class={heading.depth === 3 ? 'toc-item toc-item-h3' : 'toc-item'}>
          <a href={`#${heading.slug}`} class="toc-link">
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
