---
import '../styles/tweet.css';

export interface Props {
  id: string;
  user?: string;
}

const { id, user } = Astro.props;
---

<div class="tweet-container">
  <blockquote class="twitter-tweet" data-dnt="true" data-theme="light">
    <a href={`https://twitter.com/${user || 'x'}/status/${id}`}></a>
  </blockquote>
</div>

<script>
  interface TwitterWidgets {
    load: () => void;
  }

  interface TwitterWindow extends Window {
    twttr?: {
      widgets: TwitterWidgets;
    };
  }

  declare const window: TwitterWindow;

  function applyThemeToTweets() {
    const isDarkMode = document.documentElement.getAttribute('data-theme') === 'dark';
    const tweets = document.querySelectorAll('.twitter-tweet');

    tweets.forEach((tweet) => {
      tweet.setAttribute('data-theme', isDarkMode ? 'dark' : 'light');
    });

    if (window.twttr?.widgets) {
      window.twttr.widgets.load();
    }
  }

  function loadTwitterWidget() {
    if (!window.twttr) {
      const script = document.createElement('script');
      script.src = 'https://platform.twitter.com/widgets.js';
      script.async = true;
      document.body.appendChild(script);

      script.onload = () => {
        applyThemeToTweets();
      };
    } else if (window.twttr?.widgets) {
      applyThemeToTweets();
    }
  }

  if (!document.documentElement.hasAttribute('data-tweet-script-ready')) {
    document.documentElement.setAttribute('data-tweet-script-ready', '');

    loadTwitterWidget();

    const observer = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (mutation.attributeName === 'data-theme') {
          applyThemeToTweets();
        }
      });
    });

    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['data-theme'],
    });
  } else {
    applyThemeToTweets();
  }
</script>
