---
import TweetScript from './TweetScript.astro';
import '../styles/tweet.css';

export interface Props {
  id: string;
  user?: string;
}

const { id, user } = Astro.props;
---

<div class="tweet-container">
  <blockquote class="twitter-tweet" data-dnt="true" data-theme="light">
    <a href={`https://twitter.com/${user || 'x'}/status/${id}`}></a>
  </blockquote>
</div>

<TweetScript />
